db.sqlite3
# Python / Django
venv/
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

.env
.env.*
.runtime_secret_key

# Django collected/static media
staticfiles/
media/

# Logs
*.log

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Flutter / Dart build
mobile_app/.dart_tool/
mobile_app/build/
mobile_app/.flutter-plugins
mobile_app/.flutter-plugins-dependencies
mobile_app/.packages
mobile_app/pubspec.lock

# Flutter platform generated
mobile_app/android/.gradle/
mobile_app/android/local.properties
mobile_app/android/app/debug/
mobile_app/android/app/profile/
mobile_app/android/app/release/